* {
    background-color: #111a28;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: white;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.nav-links:hover {
    text-decoration: none;
    color: gray;
}

.info {
    background-color: #666;
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
}

/* @media screen and (max-width:850px) {
    .portfolio-card {
        width: 200px;
    }
}

@media screen and (max-width:1500px) {
    .portfolio-card {
        width: 800px;
    }
} */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i i {
    color: #FB9D5C;
    margin-right: 10px;
}

.i {
    display: none;
}

.nav-1234 a {
    color: #FB9D5C;
    font-style: normal;
    text-decoration: none;
}

@media screen and (max-width:850px) {
    .nav-1234 {
        display: none;
    }

    .i {
        display: flex;
    }

    .nav {
        margin-left: 20px;
        margin-right: 20px;
    }
}